<h1 align="center">Engineering Assignment 1</h1>

In [3]:
x = 5

When you add two strings, they are combined to print the phrase the two strings were to say.

In [2]:
'Hello' + 'Everyone'

'HelloEveryone'

In [4]:
'Hello' + ' Everyone'

'Hello Everyone'

When a string and integer are added, the output will print a type error because python can only concatenate the string to string, not string to int, they are two different values.

In [5]:
'Hello' + 42

TypeError: can only concatenate str (not "int") to str

When a value is assigned to a Python variable, Python receives that statement to store the assigned value into the memory.

In [20]:
the_answer_to_the_ultimate_question = 42

42

In [6]:
greeting = 'hello'

In [23]:
eight_to_the_fifth_power = 8 ** 5
print(eight_to_the_fifth_power)

32768

In [9]:
three = 3
five = 4
print(five)

4

In [10]:
x = 3
x = 3.1
x = 'hello'
print(x)

hello

In [7]:
345 % 4

1

When an invalid name for a variable is used python will read SyntaxError due to invalid syntax

In [8]:
$bad_variable_name = 45

SyntaxError: invalid syntax (Temp/ipykernel_17556/1547268908.py, line 1)

In [1]:
print(int('3'))

3

In [25]:
print(str(3))

3

In [16]:
print(float('3.14'))

3.14

The value 4 will be printed. In the first line, x will have the value 2. In the second line, x will have the value 3, in the third line, x will have the value of the most recently updated variable in line 2.

In [9]:
x = 2
x = x + 1
print(x)

3

In this assignment we learned how to assign a value to a variable. Then we learned how to add two strings together. Because the first two strings added needed a space. That taught us how it is important that if the strings being added need to be formatted differently, for example, our two strings needed a space between them, or else the phrase"Hello Everyone" would not make sense. Therefore the strings needed to be formatted differently. This difference in formatting being the space between the two words. After we changed the formatting within the code, we changed the formatting in the results of the code after executed. Therefore having a printed phrase that made sense. The next thing we learned is that a string and and int value are not compatible when being printed and executed together. This is because, we found out, that they are two different data types. For Python to understand them, the int needed to be converted into a string data type. Then we learned that even if the name of a variable is long and extensive, it is still valid as long as the syntax is correct. For example, the variable name "$bad_variable_name" was an invalid syntax as it starts with a dollar sign symbol which is neither a letter or underscore character. The next thing we learned was how to convert a string character to an integer value. We know because the string given was '3' we were able to convert it to a string.  If the string we were trying to convert was a string of letter rather than numbers, it would not convert to an integer value. Then vice versa, integer to string. Then there was a decimal value conversion of a string to a float. If the string had a string of characters that did not have numbers we would not be able to convert the "3.14" into a float. The last exercise shows how a variable changes line per line, the variable x's value will change each time a value changes it.